<section id="desc-cover1"
    class="desc-cover u-relative u-flexColumnCenter justify-content-center u-marginBottom30 u-boxShadowBottom u-bgDark">

    <!-- Image featured -->
    <div class="u-absolute u-image u-block lazyload blur-up" style="
            background-image: url('/content/images/2020/02/IMG_20200112_085506187-2.jpg');
              background-attachment: fixed;
        ">

    </div>
    <!-- <img class="u-absolute u-image u-block lazyload blur-up"
            src="/content/images/2020/02/IMG_20200112_085506187-2.jpg"
            data-sizes="(max-width: 800px) 400px, (max-width: 1170px) 700px, 1400px" alt="back1" /> -->
    <!-- Gradient -->
    <div class="u-bgOpacity u-absolute0 zindex2"></div>

    <div
        class="u-relative u-maxWidth1040 u-marginAuto u-padding20 u-sizeFullWidth u-textAlignCenter zindex3 u-textColorWhite">
        <div class="u-fontSizeBase u-marginBottom40 animated bounceInDown u-textUppercase">Explore, order, and
            experience </div>
        <!-- Blog name -->
        <h1 id="home-title"
            class="hm-cover-title u-marginBottom40 animated bounceIn u-fontSizeJumbo u-md-fontSize36 u-lineHeight1">
            Cloud Kitchen</h1>
        <a class="principal-logo u-inlineBlock u-flex0" href="http://lass.com">
            <!-- <img class="about-img u-image" src="" alt="logo" /> =-->
            <span class="u-fontSize26 u-fontWeightBold u-lineHeight1">ejemplo</span>
        </a>

        <p
            class="hm-cover-des animated bounceIn u-marginAuto u-fontSize26 u-md-fontSize22 u-maxWidth740 u-fontWeightThin">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus.
        </p>
    </div>
    </div>
</section>



<section id="desc-cover2"
    class="desc-cover u-relative u-flexColumnCenter justify-content-center u-marginBottom30 u-boxShadowBottom u-bgDark">

    <figure class="kg-card kg-embed-card">
        <iframe width="480" height="270" src="https://www.youtube.com/embed/Ws4zuY5ADcY?feature=oembed" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
        </iframe>
    </figure>
    <div class="u-bgOpacity u-absolute0 zindex2"></div>

    <div
        class="u-relative u-maxWidth1040 u-marginAuto u-padding20 u-sizeFullWidth u-textAlignCenter zindex3 u-textColorWhite">
        <div class="u-fontSizeBase u-marginBottom40 animated bounceInDown u-textUppercase">Explore, order, and
            experience </div>
        <!-- Blog name -->
        <h1 id="home-title"
            class="hm-cover-title u-marginBottom40 animated bounceIn u-fontSizeJumbo u-md-fontSize36 u-lineHeight1">
            Cloud Kitchen</h1>
        <a class="principal-logo u-inlineBlock u-flex0" href="http://lass.com">
            <!-- <img class="about-img u-image" src="" alt="logo" /> =-->
            <span class="u-fontSize26 u-fontWeightBold u-lineHeight1">ejemplo</span>
        </a>

        <p
            class="hm-cover-des animated bounceIn u-marginAuto u-fontSize26 u-md-fontSize22 u-maxWidth740 u-fontWeightThin">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus.
        </p>
    </div>
    </div>
</section>



<table>
    <tr>
        <td>
            1000
                      
        </td>
        <td></td>
    </tr>
</table>